@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #78c9d7;
  width:1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
/* 메뉴 호버 시 글자색 이펙트 */
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}

/* 메뉴 사이 네모 박스 구분자 */
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

/* 활성화된 메뉴 하단 검은선 */
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #78c9d7;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

#logotable {
	width:1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
}

#logotable .logo {
	width:10%;
	padding-left: 20px;
	padding-right:10px;
}

#logotable .letter {
	height:50%;
}

#logotable .organame {
	padding-right: 20px;
	text-align: right;
	vertical-align:bottom;
	width:40%;
	font-size: 20px;
	font-weight: 700;
}

footer {
	
	width:1080px;
	height: 70px;
	line-height: 70px; /* 세로 중앙 정렬 */
	margin-top: -70px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: #133a42;
	color: #666;
	text-align: center;
	font-size: 12px;
}

main.container-fluid {
	min-height: 100%;
}

html, body {
	height: 100%;
 	margin: 0;
}